/* david - importing font families */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700');


/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;
 /* @import "tailwindcss/preflight"; */

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 /* @import "tailwindcss/components"; */
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 /* @import "tailwindcss/utilities"; */
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
 


/* david - this is for the list under our mission statement giving it bullet points that are check marks */
.mission-list li {
  background-image: url("../assets/zondicons-checkmark-outline.svg");background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  padding-left: 2rem;
} 

/* david - this is the highlight to some of the subtitles */

.highlight {
  display: inline-block;
  position: relative;
}

.highlight:after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline-block;
  bottom: 1px;
  left: 0px;
  border-bottom: 8px solid #C8E6C9;
  margin-top: 5px;
  width: 100%;
}